* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #0a192f !important;
}

.main {
  flex: 1;
}

.navbar {
  border-bottom: 0.1px solid rgb(0, 0, 0);
  padding: 1% 10px;
}
.navbar .nav-link {
  color: rgb(124, 49, 49) !important;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  margin-left: 10px;
}
.navbar .nav-link:hover {
  color: #ffffff !important;
}
.navbar .navbar-brand {
  font-family: "Inter", sans-serif;
  color: rgb(253, 0, 0);
  font-weight: bold;
}
.navbar .navbar-toggler {
  border-color: rgb(0, 0, 0);
}

.content-title {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  color: #bcc7e6;
  padding-top: 2%;
}

.content-subtitle {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  color: #7084c0;
}

.title-p {
  color: rgba(89, 75, 148, 0.8078431373);
}

.bottom-sass, .bottom-bootstrap, .bottom-javascript, .bottom-html, .bottom-css {
  padding: 1% 2.5% !important;
  border-radius: 5%;
  background-color: blue;
  color: white;
}

.bottom-css {
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.bottom-css:hover {
  transform: scale(1.1);
  background-color: rgba(168, 12, 230, 0.9921568627);
}

.bottom-html {
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.bottom-html:hover {
  transform: scale(1.1);
  background-color: rgba(168, 12, 230, 0.9921568627);
}

.bottom-javascript {
  padding: 1% 1% !important;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.bottom-javascript:hover {
  transform: scale(1.1);
  background-color: rgba(168, 12, 230, 0.9921568627);
}

.bottom-bootstrap {
  padding: 1% 1% !important;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.bottom-bootstrap:hover {
  transform: scale(1.1);
  background-color: rgba(168, 12, 230, 0.9921568627);
}

.bottom-sass {
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.bottom-sass:hover {
  transform: scale(1.1);
  background-color: rgba(168, 12, 230, 0.9921568627);
}

.bottom:hover {
  transform: scale(1.1);
}

.bottom {
  transition: transform 0.5s;
}

.footer {
  background-color: #0f1f38;
  color: white;
  overflow: hidden;
  padding: 15px 0;
}

.texto-animado {
  white-space: nowrap;
  display: inline-block;
  padding-left: 100%;
  animation: desplazamiento 15s linear infinite;
  font-size: 18px;
}

@keyframes desplazamiento {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.card-box {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: shadow;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.parrafo-sobremi {
  color: whitesmoke !important;
  font-family: sans-serif;
  width: 100%;
}
@media (max-width: 576px) {
  .parrafo-sobremi {
    width: 100%;
    height: 80vh;
  }
}

.img-class {
  width: 20%;
}
@media (max-width: 576px) {
  .img-class {
    width: 30%;
    min-width: 120px;
    padding-bottom: 4%;
  }
}

.imagen-telefono {
  width: 2%;
  height: 2%;
}
@media (max-width: 576px) {
  .imagen-telefono {
    width: 4%;
    height: 4%;
  }
}

.p-color {
  color: #7084c0;
}

/* $$$$$$ */

/*# sourceMappingURL=style.css.map */
